{:aliases
 {;; Start dev-oriented environment:
  :dev {:extra-deps {;; Friendlier spec error messages:
                     expound/expound {:mvn/version "0.9.0"}
                     ;; Nicer REPL:
                     com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                     ;; nREPL client/server:
                     nrepl/nrepl {:mvn/version "1.0.0"}}
        :extra-paths ["dev"]
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
  :outdated {:deps {com.github.liquidz/antq {:mvn/version "2.7.1133"}}
             :main-opts ["-m" "antq.core"]}}
 :paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  ;; Improved cond, etc. with less nesting:
  better-cond/better-cond {:mvn/version "2.1.5"}

  ;; Colourised Clojure pretty-printer:
  mvxcvi/puget {:mvn/version "1.3.4"}}}
